<h1>Modificar</h1>
<hr>
<div class="containter">
    <form [formGroup]="modificarForm" id="modificarForm" (ngSubmit)="modificar()">
   
    <select formControlName="idSerie" >
        <option *ngFor="let serie of series" value={{serie.idSerie}}>{{serie.nombre}}</option>
    </select><br/>
    <select formControlName="idPersonaje" >
        <option *ngFor="let personaje of personajes" value={{personaje.idPersonaje}}>{{personaje.nombre}}</option>
    </select><br/>
    <button type="submit" class="btn btn-success">IModificar</button>
</form>